<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="general" label="COM_FMEVENTS_CONFIG_GENERAL" description="COM_FMEVENTS_CONFIG_GENERAL_DESC" addfieldpath="/libraries/FootManager/Form/fields">
  </fieldset>

  <fieldset name="images" label="COM_FMEVENTS_CONFIG_IMAGES" description="COM_FMEVENTS_CONFIG_IMAGES_DESC" addfieldpath="/libraries/FootManager/Form/fields">
    <field name="empty_event_photo" type="fmmedia" label="COM_FMEVENTS_CONFIG_EMPTY_EVENT_PHOTO" description="COM_FMEVENTS_CONFIG_EMPTY_EVENT_PHOTO_DESC" directory="events" default="images/events/event.png" />
    <field name="empty_location_photo" type="fmmedia" label="COM_FMEVENTS_CONFIG_EMPTY_LOCATION_PHOTO" description="COM_FMEVENTS_CONFIG_EMPTY_LOCATION_PHOTO_DESC" directory="locations" default="images/locations/location.png" />
  </fieldset>

  <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
    <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" validate="rules" filter="rules" component="com_fmevents" section="component" />
  </fieldset>
</config>