# aeSecure
RewriteEngine on
RewriteOptions Inherit

# Comment this line if you wish to make possible to access the folder by url.
# The line below will prohibited every single url like http:/yoursite/cli/xxx
RewriteRule . /aesecure/accessdenied.php?s=403&fld=cli [L]

# secure directory by disabling script execution
AddHandler cgi-script .php .pl .py .jsp .asp .sh .cgi
Options -ExecCGI

##Deny access to all CGI, Perl, PHP and Python
<FilesMatch "\.(asp?x|cgi|php|pl|py)$">
Deny from all
</FilesMatch>