.mod-fmmanager-results {
    position: relative;
}

    .mod-fmmanager-results .fm-slider-arrow {
        position: absolute;
        top: 50%;
        width: 40px !important;
        height: 70px !important;
        margin-top: -35px;
    }

    .mod-fmmanager-results .fm-slider-arrow-right {
        right: 0;
    }

    .mod-fmmanager-results .cssload-loader {
        opacity: 0.4 !important;
    }