#g-bottom {
	background: $bottom-background;
	color: $bottom-text-color;
	border-radius: 0 0 $border-radius $border-radius;
	overflow: hidden;

	@include breakpoint(mobile-only) {
		border-radius: 0;
	}

	.fp-bottom-b {
		margin-top: -1rem;
		> .g-content {
			margin-top: 0;
			margin-left: 2%;
			margin-right: 2%;
			padding-top: 0;
		}

		.g-inline-action-text,
		.g-inline-action-button, 
		.g-promo,
		.g-textpromo {
			display: inline-block;
			@include breakpoint(mobile-only) {
				display: block;
				margin-bottom: 1rem;
			}
		}

		.g-promo {
			text-transform: none;
		}

		.g-textpromo {
			margin: 0 1rem;
			opacity: 0.7;
			@include breakpoint(mobile-only) {
				margin: 0 0 1rem 0;
			}
		}
	}
}

@media print {
	#g-bottom {
		background: #fff !important;
		color: #000 !important;
	}
}