// General
.swiper-container {
    width: 100%;
    .swiper-slide {
        @include display(flex);
        @include flex-flow(wrap);
        @include box-pack(center);
        @include justify-content(center);
        @include align-items(center);
        text-align: center;
        background: transparent;     
    }     
    .swiper-slide-content {
        overflow: hidden;
        margin: 0 1px;
    }    
    .g-swiper-slide-content-subtitle {
        padding-bottom: 2rem;
        font-size: $core-font-size - 0.1;
        text-transform: uppercase;
    }
    .g-swiper-slide-content-title {
        font-family: get-font-family($font-family-promo);
        font-weight: $font-weight-bold;    
        font-size: $core-font-size + 0.75;
        line-height: $core-line-height - 0.25;    
    }
    .g-swiper-slide-content-link {
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        opacity: 1;
        background: transparent;
        border: 2px solid $rule-color;
        &.swiper-pagination-bullet-active {
            background: $accent-color-1;
            border: 2px solid darken($accent-color-1, 25%);
        }
    }
    .swiper-button-next, .swiper-button-prev {
        color: $accent-color-1;
        height: 22px;
        margin-top: -11px;
        background: none;
        text-align: center;
        opacity: 0.25;
        @include transition(opacity 0.2s);
        &:hover {
            opacity: 1;
        }
    }
    &.swiper-container-rtl .swiper-button-next {
        right: 10px !important;
        left: auto !important;
    }
    &.swiper-container-rtl .swiper-button-prev {
        right: auto !important;
        left: 10px !important;
    }
}

// Carousel
.g-carousel {
    &.swiper-container {
        height: 100%;
    }
}

// Swiper Stories
.g-swiper-stories {
    .swiper-slide-content-text {
        background: lighten($pagesurround-background, 15%);
        border: 3px solid;
        position: relative;
        width: 60%;
        margin: -2rem auto 4rem auto;
        padding: 2rem 1rem;
        overflow: hidden;
    }
    .g-swiper-slide-content-title {
        font-size: $core-font-size + 0.25;
        padding-bottom: 1rem;
    }
    .g-swiper-slide-content-desc {
        font-size: $core-font-size - 0.1;
    }
}

// Swiper Testimonial
.g-swiper-testimonial {
    position: relative;
    border: 1px solid $rule-color;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
    .g-swiper-slide-content-title {
        font-style: italic;
        font-weight: $font-weight-light;
        margin: 1rem auto;
        width: 90%;
        &:before, &:after {
            content: '"';
            margin: 0 0.25rem;
        }
    }
    .swiper-slide-content {
        position: relative;
        padding-top: 3rem;
        &:before {
            position: absolute;
            content: "";
            background: url("gantry-theme://images/backgrounds/swiper-testimonial/top-bg.png") no-repeat;
            display: block;
            width: 60px;
            height: 36px;
            top: 0;
            left: 50%;
            margin-left: -30px;
        }        
    }
    &:after {
        position: absolute;
        content: "";
        background: url("gantry-theme://images/backgrounds/swiper-testimonial/bottom-bg.png") no-repeat;
        display: block;
        width: 98px;
        height: 26px;
        bottom: -3rem;
        left: 50%;
        margin-left: -49px;
    }      
}

// For IEvil 10+        
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .swiper-container.g-horizontal-slides, .swiper-container.g-carousel {
        .swiper-slide {
            display: block;
        }
   }
}