#g-copyright {
    background: #000;
    color: #ffffff;
    font-size: 0.9rem;
    border: 0;

    .g-content {
        padding: 0.938rem;  
    }       

    a {
        color: #fff;
    }

    a:hover {
        color: $darkgreen;
    }
}