# aeSecure
ErrorDocument 403 '<html xmlns="http://www.w3.org/1999/xhtml"><head><style type="text/css" >body{color:#fff;background-color:#851507;font:14px/1.5 Helvetica,Arial,sans-serif};</style><title>Access denied</title></head><body><div style="margin:20px auto;width:700px;padding-top:50px"><img src="assets/aesecure_denied.png" style="float:right;" alt="aeSecure"/><h1>Access denied, unauthorized access.<br/><br/>If you think it"s an error, please inform the webmaster to help him to adjust his security rules.  Thank you.</h1><pre style="padding:20px;white-space:pre-line;border-radius:10px;background-color:#b34334">Code : 403 - Deny access</pre></div></body></html>'

#AESECURE_PROTECT_ADMIN_START
#aeSecure 4.3
<IfModule mod_rewrite.c>
 # Block access to special files of the administrator like xml, gif, ... in order to avoid fingerprints
 # Allowed : yoursite/administror
 RewriteRule ^administrator/?$ - [L]
 # Allowed : yoursite/administror/index.php (or .html)
 RewriteRule ^administrator/index\.(php|html?)$ - [L]
 # Allowed : direct access to one of these urls
 RewriteRule ^administrator\/components\/(com_joomlaupdate|com_akeeba|com_admintools)\/restore\.php$ - [L]
 # Allowed : yoursite/administror/components/... and access to one of these file's extensions
 RewriteRule ^administrator/(components|modules|templates|images|plugins)/([^/]+/)*([^/.]+\.)+(jp(e?g|2)?|png|gif|webp|bmp|css|js|swf|html?|mp(eg?|[34])|avi|wav|og[gv]|flv|mov)$ - [L]
 # Disallowed : the rest
 # Block f.i. http://yoursite/administrator/components/com_admin/admin.xml
 RewriteRule ^administrator/ /aesecure/accessdenied.php?s=43 [L]
</IfModule>

 # Deny access to XML files of /administrator
 <Files ~ ".xml$">
  order allow,deny
  deny from all
  satisfy all
 </Files>
#AESECURE_PROTECT_ADMIN_END
#AESECURE_IPRESTRICT_START
#AESECURE_IPRESTRICT_END

# Be sure that pages under this folder won't be indexed
<IfModule mod_headers.c>
 Header set X-Robots-Tag "noindex, nofollow"
</IfModule>